# db settings
POSTGRES_SERVER=localhost
POSTGRES_PORT=51214
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgadmin web
PGADMIN_DEFAULT_EMAIL=user@domain.com
PGADMIN_DEFAULT_PASSWORD=SuperSecret

# init
SUPERADMIN_EMAIL=qwe228@qwdq222.com
SUPERADMIN_PASSWORD=12321
